.page-reset {
  background: #ffffff;
  height: 100%;
  .tab-bar {
    background: #118eea;
    height: 39px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      position: absolute;
      left: 13px;
    }
  }
  .reset {
    // padding-right: 13px;
    .am-list {
      .am-list-body {
        .am-input-label {
          font-size: 14px;
        }
        .am-input-control input {
          font-size: 14px;
        }
        .my-pwd {
          display: flex;
          .pwdShow {
            display: flex;
            align-items: center;
          }
        }
        .verify {
          display: flex;
          .getCode {
            display: flex;
            align-items: center;
            color: #118eea;
          }
        }
      }
    }
  }
}
