.page-my {
  background: #ffffff;
  height: 100%;
  .header {
    height: 39px;
    background: #118eea;
    line-height: 39px;
    padding: 0 13px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #ffffff;
    span {
      color: #ffffff;
    }
  }
  .picture {
    margin: 47px 0 28px;
    text-align: center;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .my-login {
    .am-list-body {
      padding-right: 15px;
      .am-input-label {
        font-size: 14px;
      }
      .am-input-control input {
        font-size: 14px;
      }
      .my-pwd {
        display: flex;
        .pwdShow {
          display: flex;
          align-items: center;
          i {
            font-size: 20px;
            color: #999999;
          }
        }
      }
    }
    .am-list-body:after {
      content: '';
      position: absolute;
      background-color: #ddd;
      display: block;
      z-index: 1;
      top: auto;
      right: 5%;
      bottom: 0;
      left: 10%;
      width: 85%;
      height: 1px;
      transform-origin: 50% 100%;
      transform: scaleY(0.5);
    }

    .am-list-body:before {
      content: '';
      display: none;
    }
  }
  .my-sub {
    display: flex;
    justify-content: center;
    padding: 30px 15px 15px;
    button {
      border: none;
      flex: 1;
      height: 42px;
      background: #118eea;
      border-radius: 5px;
      color: #ffffff;
    }
  }
  .notification {
    width: 200px;
    height: 30px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 260px;
    z-index: 888;
  }
  .forget {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    span {
      color: #118eea;
    }
  }
}
