<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>虚贝网 您值得拥有的好网站</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1457355_6kox6k47yf.css">

</head>
<body>
  <div id="root"></div>
</body>
</html>