.page-fit {
  height: 100%;
  font-size: 14px;
  .tab-bar {
    height: 39px;
    background: #118eea;
    display: flex;
    justify-content: center;
    color: white;
    line-height: 39px;
  }
  i {
    position: absolute;
    left: 13px;
  }
  .clickItem {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    span {
      color: #333333;
    }
    i {
      color: #999999;
    }
  }
}
