.page-fit {
  height: 100%;
  font-size: 14px;
  .tab-bar {
    height: 39px;
    background: #118eea;
    display: flex;
    justify-content: center;
    color: white;
    line-height: 39px;
    i {
      position: absolute;
      left: 13px;
    }
  }
  .clickItem {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    a {
      display: block;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
    }
    span {
      color: #333333;
    }
    i {
      color: #999999;
    }
    position: relative;
  }
  .clickItem:after {
    content: '';
    position: absolute;
    background-color: #ddd;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 5%;
    width: 95%;
    height: 1px;
    transform-origin: 50% 100%;
    transform: scaleY(0.5);
  }
  .sub {
    margin: 30px 17px 0 17px;
    button {
      width: 100%;
      text-align: center;
      line-height: 37px;
      height: 37px;
      background: #408ce2;
      border-radius: 20px;
      color: #ffffff;
      border: none;
    }
  }
}
